* {
    margin: 0px;
} 
.snakeheading {
    background: linear-gradient(-90deg, #35577D, #141E30);
    font-family: Helvetica;
    color: rgb(17, 151, 192);
    text-align: center;
    line-height: 2.5em;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
    top: 0;
    left: 0;
    position: relative;
} 
#snakecanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}
.snakeheading a {
    color: rgb(17, 151, 192);
}